@page
@model Bearings2000.Portal.Web.Pages.CockpitModel
@{
}
Cockpit


    <div class="row ">

        <div class="col-md-3">
            <div class="row border">
                Quote Search Dialogue
            </div>
            <div class="row border">
                Customer Selection
            </div>
            <div class="row border">
                Portal User Selection
            </div>
            <div class="row border">
                Sub Account
            </div>
            <div class="row border">
                Cash Customer
            </div>
            <div class="row border">
                Ship To Address/Post Code
            </div>
            <div class="row border">
                <label for="Customername">Customer name</label>
                <label for="CustomerLevel">Customer Level</label>
                <label for="CustomerKAM">Customer KAM</label>
                <label for="Contact">Contact</label>
                <label for="Telephone">Telephone</label>
                <label for="Email">Email</label>
                <label for=" VatNumber"> Vat Number</label>
            </div>
            <div class="row border">
                Customer PO Number
            </div>
            <div class="row border">
                Ship Via
            </div>
            <div class="row border">
                Ship Instructions
            </div>
        </div>

        <div class="col-md-9">
            <div class="row border">
                Process Quote | Process Report
            </div>
            <div class="row border">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Requested Stock Code</th>
                            <th scope="col">Requested Qty</th>
                            <th scope="col">Requested Price</th>
                            <th scope="col">Avl Qty</th>
                            <th scope="col">Cancel</th>
                            <th scope="col">Show Kit Dtl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Stock code</td>
                            <td>40</td>
                            <td>R123.99</td>
                            <td>10(+)</td>
                            <td><a href="#">Cancel</a></td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>

                            <td>Stock code</td>
                            <td>40</td>
                            <td>R123.99</td>
                            <td>10(+)</td>
                            <td><a href="#">Cancel</a></td>
                            <td><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>Stock code</td>
                            <td>40</td>
                            <td>R123.99</td>
                            <td>10(+)</td>
                            <td><a href="#">Cancel</a></td>
                            <td><input type="checkbox" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row border">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Stock Code</th>
                            <th scope="col">Long Desc</th>
                            <th scope="col">Qty Avl</th>
                            <th scope="col">Qty A1</th>
                            <th scope="col">Qty Other</th>
                            <th scope="col">Qty Reserve</th>
                            <th scope="col">Price</th>
                            <th scope="col">Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Stock Code #</a></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#">Add</a>&nbsp;<a href="#">Change</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Stock Code #</a></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#">Add</a>&nbsp;<a href="#">Change</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Stock Code #</a></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><a href="#">Add</a>&nbsp;<a href="#">Change</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
<div class="row gx-3 border">
    <div class="col-md-6">
        <div class="row border">
            Quote History View
        </div>
        <div class="row border">
            Quote Customer And Item
        </div>
        <div class="row border">
            Quote Only Item
        </div>
        <div class="row border">
            Quote Only Customer
        </div>
        <div class="row border">
            Quote Incl Similar Items
        </div>
    </div>

    <div class="col-md-6">
        <div class="row border">
            Sales History View
        </div>
        <div class="row border">
            Sales Customer And Item
        </div>
        <div class="row border">
            Sales Only Item
        </div>
        <div class="row border">
            Sales Only Customer
        </div>
        <div class="row border">
            Sales Incl Similar Items
        </div>
    </div>
</div>
